<form class="form-horizontal" method="post" action="/admin/login">
  <fieldset>
    <legend>Administrator Login</legend>
    <div class="control-group">
      <label class="control-label" for="email_address">Email Address</label>
      <div class="controls">
        <input type="email" class="input-xlarge" id="email_address" name="email_address" required="required">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="password">Password</label>
      <div class="controls">
        <input type="password" class="input-xlarge" id="password" name="password" required="required">
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">&nbsp;</label>
      <div class="controls">
        <input type="submit" value="Log In" class="btn btn-primary btn-small"/>
      </div>
    </div>
  </fieldset>
</form>
